<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto">4 Elemente</div>
    <div class="row mr-2 ml-auto">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
