<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">INHALT</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/winter">
    <mat-icon svgIcon="winter"></mat-icon>Winterdienst & Schneeräumung
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/house">
    <mat-icon svgIcon="garden"></mat-icon>Haus & Garten
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/decoration">
    <mat-icon svgIcon="decoration"></mat-icon>Tapezierer & Dekorateur
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/trading">
    <mat-icon svgIcon="trade"></mat-icon>Handel aller Arten
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/aboutus">
    <mat-icon svgIcon="aboutus"></mat-icon>Über Uns
  </a>
</mat-nav-list>
