.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;

  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 30px;
  }

  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 5px;
    margin-top: -0.5em;
    margin-bottom: -1em;
    background: white;
    color: black;
    font-size: 0.9rem;
  }
}

div.flex-container {
  display: flex;
}

div.flex-container p {
  font-size: 1em;
  line-height: 2em; // Default is 1.2, but varies by browser
  min-height: 2em; // 2 * 1em * 1.125
  // (number of lines) * (font-size) * (line-height multiplier)
}

.margin-auto {
    margin: 5% auto;
}

.demo-div {
    /*padding: 0px 15% 0px 15%;*/
    box-sizing: border-box;
    vertical-align: center;
    border-color: #CFCFCF;
    margin-bottom: 20px;
}

.box-shadow {
    /*box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);*/
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.38);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -5px;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
}

input:checked+.slider {
    background-color: rgba(233,30,99,.5);
}

input:focus+.slider {
    box-shadow: 0 0 1px #e91e63;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #e91e63;
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Range slider */

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e91e63;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #e91e63;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #e91e63;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #e91e63;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #e91e63;
}

.range-slider__range:active::-moz-range-thumb {
    background: #e91e63;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px rgba(233,30,99,.5);
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #e91e63;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #e91e63;
    border-bottom: 7px solid transparent;
    content: '';
}
